.wrapper {
  height: 540px;
  padding: 60px;
  background-color: #101010;
  border: 1px solid #1a1a1a;
  border-radius: 16px;
  text-align: center;

  &--protocol-bg {
    background: center / cover no-repeat url('/src/assets/protocol-bg.png'),
      var(--colorBgDeep);
  }
  &--quantium-bg {
    background: center / cover no-repeat url('/src/assets/quantium-bg.png'),
      var(--colorBgDeep);
  }
  &--gearbox-bg {
    background: center / cover no-repeat url('/src/assets/gearbox-bg.png'),
      var(--colorBgDeep);
  }
  &--evm-bg {
    background: center / cover no-repeat url('/src/assets/evm-bg.png'),
      var(--colorBgDeep);
  }

  .title {
    margin-bottom: 16px;
  }
}

@media screen and (max-width: $desktopSmall) {
  .wrapper {
    height: 519px;
    padding: 60px 40px;
  }
}

@media screen and (max-width: $laptop) {
  .wrapper {
    height: 472px;
    padding: 60px 20px;
  }
}

@media screen and (max-width: $tablet) {
  .wrapper {
    height: 375px;
    padding: 40px 20px;

    .title {
      margin-bottom: 12px;
    }
  }
}

@media screen and (max-width: $mobile) {
  .wrapper {
    height: 298px;
    padding: 20px 10px;

    .text {
      max-width: 298px;
      margin: 0 auto;
    }

    .title {
      margin-bottom: 8px;
    }
  }
}
