.wrapper {
  height: 270px;
  padding: 70px;
  border-radius: 20px;
  background-color: #1a1a1a !important;

  &--unlock {
    background: right no-repeat url('/src/assets/unlock.svg');
  }
  &--enable {
    background: right no-repeat url('/src/assets/enable.svg');
  }
  &--leverage {
    background: right no-repeat url('/src/assets/leverage.svg');
  }
  &--auto-degen {
    background: right no-repeat url('/src/assets/auto-degen.svg');
  }

  .title {
    margin-bottom: 16px;
  }
  .description {
    font-family: 'Aber Mono', sans-serif;
  }
}

@media screen and (max-width: $tablet) {
  .wrapper {
    height: 260px;
    padding: 80px 40px;
  }
}

@media screen and (max-width: $mobile) {
  .wrapper {
    height: 320px;
    padding: 60px 20px;

    &--unlock {
      background: bottom right no-repeat url('/src/assets/unlock-mobile.svg');
    }
    &--enable {
      background: bottom right no-repeat url('/src/assets/enable-mobile.svg');
    }
    &--leverage {
      background: bottom right no-repeat url('/src/assets/leverage-mobile.svg');
    }
    &--auto-degen {
      background: bottom right no-repeat
        url('/src/assets/auto-degen-mobile.svg');
    }

    .title {
      margin-bottom: 8px;
    }
  }
}
