.wrapper {
  .title {
    display: flex;
    align-items: center;
    gap: 17px;
    margin-bottom: 16px;

    .tag {
      height: 60px;
      padding: 0 24px;
      display: flex;
      align-items: center;
      border-radius: 40px;
      border: 1px solid var(--colorTextGold);
    }
  }

  .card {
    height: 695px;
    background-color: #101010;
    border: 1px solid #333333;
    border-radius: 16px;

    &--bitcoin {
      background: bottom / contain no-repeat url('/src/assets/bitcoin.png');
    }
    &--gearbox {
      background: bottom / contain no-repeat url('/src/assets/gearbox.png');
    }
  }
  .content {
    padding: 70px 40px 47px;

    .contentTitle {
      margin-bottom: 8px;
    }
  }
}

@media screen and (max-width: $tablet) {
  .wrapper {
    .card {
      height: 600px;
    }
    .content {
      padding-bottom: 78px;
    }
  }
}

@media screen and (max-width: $mobile) {
  .wrapper {
    .title {
      flex-direction: column;
      align-items: start;
      gap: 16px;
      margin-bottom: 8px;

      .tag {
        height: 40px;
      }
    }
    .card {
      height: 370px;

      &--bitcoin {
        background: center / contain no-repeat
          url('/src/assets/bitcoin-mobile.png');
      }
      &--gearbox {
        background: center / contain no-repeat
          url('/src/assets/gearbox-mobile.png');
      }
    }
    .content {
      padding: 0;
      margin-bottom: 16px;

      .contentTitle {
        margin-bottom: 16px;
      }
    }
  }
}
