// TODO: check padding and margins for responsive styles
.wrapper {
  .title {
    display: flex;
    align-items: center;
    gap: 17px;
    margin-bottom: 16px;

    .tag {
      height: 60px;
      padding: 0 24px;
      display: flex;
      align-items: center;
      border-radius: 40px;
      border: 1px solid var(--colorTextGold);
    }
  }

  .card {
    height: 695px;
    padding: 60px 40px 0;
    background-color: #101010;
    border: 1px solid #333333;
    border-radius: 16px;

    &--bitcoin {
      background: bottom / contain no-repeat url('/src/assets/bitcoin.png');
    }
    &--gearbox {
      background: bottom / contain no-repeat url('/src/assets/gearbox.png');
    }
  }
  .cardTitle {
    margin-bottom: 8px;
  }
  .cardDescription {
    margin-bottom: 24px;
  }
}

@media screen and (max-width: $tablet) {
  .wrapper {
    .title {
      margin-bottom: 10;
    }
    .card {
      height: 600px;
    }
  }
}

@media screen and (max-width: $mobile) {
  .wrapper {
    .title {
      flex-direction: column;
      align-items: start;
      gap: 8px;
      margin-bottom: 18;

      .tag {
        height: 40px;
      }
    }
    .card {
      height: 200px;
      padding: 29px 4px;

      &--bitcoin {
        background: center / contain no-repeat url('/src/assets/bitcoin.png');
      }
      &--gearbox {
        background: center / contain no-repeat url('/src/assets/gearbox.png');
      }
    }
  }
}
