.wrapper {
  padding-bottom: 220px;

  .sectionTitle {
    position: relative;
    width: fit-content;
    margin: 0 auto 40px;
    padding: 24px 32px;
    font-family: 'Aber Mono', sans-serif;
    color: var(--colorSectionGold);
    border-radius: 40px;
    background: var(--colorBgGold);

    &::after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 220px;
      height: 100px;
      border-radius: 100%;
      background: linear-gradient(101deg, #f00 0%, #ffdb00 100%);
      filter: blur(100px);
      z-index: -1;
    }
  }
  .title {
    display: flex;
    flex-direction: column;
    gap: 8px;
    text-align: center;
    margin-bottom: 80px;
  }
  .content {
    position: relative;
    padding-bottom: 196px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;

    .card {
      position: absolute;
      width: 350px;
      display: flex;
      flex-direction: column;
      gap: 16px;
      opacity: 0;
      transition: opacity 0.3s ease-in-out;

      &-visible {
        opacity: 1;
      }

      &::after {
        content: '';
        position: absolute;
        width: 425px;
        height: 92px;
      }

      &--stakers {
        top: -50px;
        left: 0;
        padding: 24px 40px 24px 27px;
        text-align: right;

        &::after {
          top: calc(307px + 24px - 50%);
          left: 117px;
          transform: translateY(-50%);
          background: right / contain no-repeat
            url('/src/assets/utility-lineLeft.svg');
        }
      }
      &--incentive {
        top: 100px;
        right: 0;
        padding: 24px 27px 24px 40px;

        &::after {
          top: calc(214px - 100%);
          right: 118px;
          transform: translateY(-50%);
          background: left / contain no-repeat
            url('/src/assets/utility-lineRight.svg');
        }
      }
      &--voting {
        top: 350px;
        left: 50%;
        transform: translateX(-50%);
        padding: 24px 60px 24px 40px;
        width: 600px;

        &::after {
          width: 237px;
          height: 80px;
          top: calc(400px - 48px - 200%);
          left: 65px;
          transform: translateY(-100%);
          background: top / contain no-repeat
            url('/src/assets/utility-lineBottom.svg');
        }
      }
    }
  }
}

@media screen and (max-width: $laptop) {
  .wrapper {
    .content {
      .card {
        &::after {
          width: 384px;
          height: 83px;
        }

        &--voting {
          &::after {
            width: 212px;
            height: 71px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: $tablet) {
  .wrapper {
    .content {
      .image {
        height: 250px;
      }

      .card {
        width: 259px;

        &::after {
          width: 256px;
          height: 55px;
        }

        &--stakers {
          padding: 24px 20px 24px 14px;
        }
        &--incentive {
          padding: 24px 14px 24px 20px;
        }
        &--voting {
          top: 300px;
          width: 388px;
          padding: 24px 10px 24px 20px;

          &::after {
            top: calc(250px - 24px - 100%);
            width: 141px;
            height: 75px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: $mobile) {
  .wrapper {
    padding-bottom: 80px;

    .title {
      gap: 25px;
      margin-bottom: 40px;
    }
    .content {
      padding: 0;

      .card {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;

        &::after {
          display: none;
        }

        &--stakers {
          text-align: left;
        }
        &--voting {
          transform: translateX(0);
        }
      }
    }
  }
}
