.wrapper {
  padding-top: 280px;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100vw;
    height: 1400px;
    background: top / cover no-repeat url('/src/assets/radial-bg.svg');
    z-index: -1;
  }

  .title {
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    gap: 16px;
    text-align: center;
    margin-bottom: 51px;
  }

  .proposition {
    padding-bottom: 162px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;

    &--visible {
      opacity: 1;
    }

    .propositionTitle {
      margin-bottom: 37px;
    }
  }
}
