.link {
  position: relative;
  cursor: pointer;

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px;
    background-color: var(--colorText);
    transition: width 0.2s ease-in-out;
  }

  &:hover::after {
    width: 100%;
  }
}
