:root {
  --colorBgDeep: #101010;

  --colorText: #ffffff;
  --colorTextSecondary: #cccccc;
  --colorTextDark: #4d4d4d;
  --colorTextGold: #c19446;

  --colorTabActive: #333333;
  --colorSectionGold: #d9bd8c;
  --colorBgGold: #261d0d;

  --headerHeight: 110px;
  --headerMobileHeight: 80px;
  --containerPadding: 25px;
  --containerMobilePadding: 10px;
}
