.wrapper {
  padding-bottom: 160px;

  .sectionTitle {
    position: relative;
    width: fit-content;
    margin: 0 auto 40px;
    padding: 24px 32px;
    font-family: 'Aber Mono', sans-serif;
    color: var(--colorSectionGold);
    border-radius: 40px;
    background: var(--colorBgGold);

    &::after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 220px;
      height: 100px;
      border-radius: 100%;
      background: -webkit-linear-gradient(101deg, #f00 0%, #ffdb00 100%);
      background: linear-gradient(101deg, #f00 0%, #ffdb00 100%);
      filter: blur(100px);
      z-index: -1;
    }
  }
  .flows {
    display: flex;
    flex-direction: column;
    gap: 80px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;

    &-visible {
      opacity: 1;
    }
  }
}

@media screen and (max-width: $mobile) {
  .wrapper {
    padding-bottom: 120px;

    .flows {
      gap: 40px;
    }
  }
}
