.wrapper {
  position: relative;
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;

  .inner {
    max-width: 1112px;
    margin: 0 auto;
    padding: 0 var(--containerPadding);
  }
}

@media screen and (max-width: $mobile) {
  .wrapper {
    .inner {
      padding: 0 var(--containerMobilePadding);
    }
  }
}
