.wrapper {
  .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 110px;
    border-bottom: 1px solid #333333;

    .logo {
      flex: 1 0 auto;

      svg:hover {
        cursor: pointer;
      }
    }

    .pageLinks {
      flex: 0 1 auto;
      display: flex;
      align-items: center;
      gap: 25px;

      .link {
        position: relative;
        cursor: pointer;

        &::after {
          content: '';
          position: absolute;
          bottom: 0;
          left: 0;
          width: 0;
          height: 1px;
          background-color: var(--colorText);
          transition: width 0.2s ease-in-out;
        }

        &:hover::after {
          width: 100%;
        }
      }
    }
  }
  .additional {
    padding: 24px 0 20px;
    display: flex;
    justify-content: space-between;

    .agreements {
      display: flex;
      gap: 24px;

      > div {
        cursor: pointer;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
