.wrapper {
  .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 110px;
    border-bottom: 1px solid #333333;

    .logo {
      flex: 1 0 auto;

      svg:hover {
        cursor: pointer;
      }
    }

    .pageLinks {
      flex: 0 1 auto;
      display: flex;
      align-items: center;
      gap: 25px;

      .link {
        position: relative;
        cursor: pointer;

        &::after {
          content: '';
          position: absolute;
          bottom: 0;
          left: 0;
          width: 0;
          height: 1px;
          background-color: var(--colorText);
          transition: width 0.2s ease-in-out;
        }

        &:hover::after {
          width: 100%;
        }
      }
    }
  }
  .additional {
    padding: 24px 0;
    display: flex;
    justify-content: space-between;

    .socials {
      display: flex;
      gap: 24px;

      svg:hover {
        cursor: pointer;
      }
    }
    .agreements {
      display: flex;
      gap: 24px;

      > div:not(.stamp) {
        cursor: pointer;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

@media screen and (max-width: $mobile) {
  .wrapper {
    .content {
      height: 90px;

      .logo {
        text-align: center;

        svg {
          width: 70px;
          height: 20px;
        }
      }
    }
    .additional {
      padding: 32px 0 18px;
      flex-direction: column;
      align-items: center;
      gap: 32px;

      .socials {
        order: 1;
      }
      .agreements {
        order: 2;
      }
      .stamp {
        order: 3;
      }
    }
  }
}
