.wrapper {
  padding-top: 152px;
  padding-bottom: 160px;

  .sectionTitle {
    width: fit-content;
    margin: 0 auto 60px;
    padding: 16px 25px;
    font-family: 'Aber Mono', sans-serif;
    color: var(--colorSectionGold);
    border-radius: 40px;
    border: 1px solid var(--colorSectionGold);
  }
  .title {
    margin-bottom: 81px;
    text-align: center;
  }
  .actors {
    padding-bottom: 284px;
    position: relative;
    display: flex;
    gap: 2px;
    flex-wrap: wrap;

    > div {
      flex: 1 1 49%;
    }

    .actorsRef {
      position: absolute;
      top: calc(100% - 50px);
    }

    &::after {
      content: '';
      position: absolute;
      top: calc(100% - 284px);
      left: 50%;
      transform: translateX(-50%);
      width: 580px;
      height: 0;
      background: url('/src/assets/actorsFlows-line.svg');
      opacity: 0;
      transition: opacity 0.8s ease-in-out, height 0.8s ease-in-out;
    }

    .subsectionTitle {
      position: absolute;
      top: calc(100% - 50px);
      left: 50%;
      transform: translateX(-50%);
      width: fit-content;
      padding: 16px 32px;
      font-family: 'Aber Mono', sans-serif;
      border-radius: 40px;
      border: 1px solid #fff;
      opacity: 0;
      transition: opacity 0.8s ease-in-out;
    }

    &-visible::after {
      opacity: 1;
      height: 235px;
    }
    &-visible > .subsectionTitle {
      opacity: 1;
    }
  }
  .flows {
    padding-top: 120px;
    display: flex;
    flex-direction: column;
    gap: 100px;
    opacity: 0;
    transition: opacity 0.8s ease-in-out;

    &-visible {
      opacity: 1;
    }
  }
}
