.text {
  &.truncateOne {
    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  &.truncateMany {
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
  }

  &.isCentered {
    text-align: center;
  }

  &.isUppercased {
    text-transform: uppercase;
  }

  &.isInLine {
    display: inline;
  }

  @include iteratePropsArr(
    'size',
    'font-size',
    (12, 13, 14, 15, 16, 18, 20, 22, 24, 28, 32, 36, 40, 44, 48, 64),
    'px'
  );

  @include iteratePropsArr('weight', 'font-weight', (400, 500, 600, 700));

  @include iteratePropsMap(
    'color',
    'color',
    (
      default: var(--colorText),
      secondary: var(--colorTextSecondary),
      dark: var(--colorTextDark),
    )
  );
}
